* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Header */
  header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: relative;
    width: 100%;
    position: sticky;
    top: 0;
  }
  
  /* Alinhamento*/
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .alinhamentoheader {
    display: flex;
    align-items: center;
  }
  
  /* Botões Header*/
  .headerbutton {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-family: "Signika", sans-serif;
    font-size: 20px;
  }
  
  .login {
    background-color: #ff7b01;
    color: #000;
    border-radius: 30px;
  }
  
  /* Campo de pesquisa */
  .pesquisa-input {
    background-color: #000;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ff7b01;
    width: 300px;
    height: 30px;
    color: #fff;
  }
  
  .pesquisa {
    position: relative;
    margin-right: 15px;
  }
  
  .pesquisa a {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  /* Body */
  body {
    background-color: #242424;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
  
  main {
    flex-grow: 1;
    width: 80%;
  }
  
  .welcome {
    color: #fff;
    font-family: "Signika", sans-serif;
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
  }
  
  /* Tópicos */
  .divisao {
    color: #28849c;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
  }
  
  hr {
    margin-top: 0px;
    margin-bottom: 40px;
    height: 2px;
    border: none;
    background-color: #28849c;
  }
  
  .filmes {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .capa {
    width: 166px;
    height: 250px;
  }
  
  /* Botão ver mais */
  .bvermais {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
  
  .bvermais a {
    background-color: #28849c;
    border-radius: 25px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
  }
  
  /* Reviews */
  .review {
    display: flex;
    gap: 26px;
  }
  
  .tabelareviews {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  
  .review .texto {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 15px;
    display: flex;
    gap: 10px;
    max-width: 230px;
    align-items: flex-start;
  }
  
  .review .estrela {
    width: 20px;
    display: flex;
    gap: 5px;
  }
  
  .review .icone {
    width: 25px;
  }
  
  .review .info {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .review .autor {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 15px;
  }
  
  .review .titulo {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
  }
  
  /* Rodapé */
  footer {
    margin-top: 50px;
    width: 100%;
    gap: 35px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  footer a {
    font-weight: 700;
    font-size: 18px;
  }
  
  footer div {
    display: flex;
    gap: 50px;
  }