* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: relative;
  width: 100%;
  position: sticky;
  top: 0;
}

html {
  height: 100%;
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
}

/* Body */
body {
  background-color: #242424;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

/* Alinhamento*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alinhamentoheader {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Botões Header*/
.headerbutton {
  border: none;
  padding: 10px 10px;
  margin-left: 10px;
  cursor: pointer;
  font-family: "Signika", sans-serif;
  font-size: 20px;
}

.headerbutton:hover {
  background-color: #ff7b01;
  color: #000;
  border-radius: 30px;
}

.login {
  background-color: #ff7b01;
  color: #000;
  border-radius: 30px;
}

h1 {
  font-family: "Signika", sans-serif;
  font-size: 35px;
  color: #fff;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #28849c;
  text-transform: uppercase;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #fff;
}

.filmedetalhes h3 {
  width: 300px;
}

.filmecontainer2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 1200px;
}

.containerfilme {
  display: flex;
  gap: 20px;
}

.avaliar {
  border: 1px dashed #ff7b01;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.pagfilme {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Campo de pesquisa */
.pesquisa-input {
  background-color: #000;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ff7b01;
  width: 300px;
  height: 30px;
  color: #fff;
}

.pesquisa {
  position: relative;
  margin-right: 15px;
}

.pesquisa button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

main {
  flex-grow: 1;
  width: 80%;
}

.welcome {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 30px;
  margin-top: 25px;
  text-align: center;
}

/* Tópicos */
.divisao {
  color: #28849c;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
  width: 100%;
}

.divisao a {
  color: #28849c;
  margin-right: 50px;
}

.divisao .ativo {
  color: #ff7b01;
  border-bottom: 3px solid #ff7b01;
}

hr {
  margin-top: 5px;
  margin-bottom: 40px;
  height: 2px;
  border: none;
  background-color: #28849c;
}

.filmes {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.capa {
  width: 166px;
  height: 250px;
}

.capafilme {
  width: 234px;
  height: 350px;
}

.filmedetalhes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.comentario {
  display: flex;
  gap: 5px;
}

/* Botão ver mais */
.bvermais {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.bvermais a,
.btfiltrar {
  background-color: #28849c;
  border-radius: 25px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
}

.btwatchlist {
  background-color: #ff7b01;
  border-radius: 25px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  margin-top: 90px;
}

/* Reviews */
.review {
  display: flex;
  gap: 26px;
}

.tabelareviews {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.review .texto {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 15px;
  display: flex;
  gap: 10px;
  max-width: 230px;
  align-items: flex-start;
}

.estrela {
  display: flex;
  gap: 3px;
}

.filmecontainer {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review .icone {
  width: 25px;
}

.review .info {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  font-size: 15px;
  font-family: "Space Grotesk", sans-serif;
}

.review .titulo {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: #ff7b01;
  font-family: "Signika", sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  z-index: 1;
  width: 100px;
  text-align: center;
  right: 0px;
}

.dropdown:hover .dropbtn {
  background-color: #ff7b01;
  color: #000;
  border-radius: 30px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #454545;
  overflow: hidden;
}

.droplink {
  padding: 10px;
  text-transform: uppercase;
  color: #ff7b01;
  text-decoration: none;
  font-size: 18px;
  font-family: "Signika", sans-serif;
}

.droplink:hover {
  background-color: #000;
  color: #fff;
}

select {
  flex-shrink: 0;
  cursor: pointer;
  background-color: #242424;
  color: #fff;
  border: none;
  font-family: "Signika", sans-serif;
  font-size: 20px;
  padding: 5px;
}

input,
textarea {
  flex-shrink: 0;
  cursor: pointer;
  background-color: #242424;
  color: #fff;
  border: none;
  font-family: "Signika", sans-serif;
  font-size: 20px;
  padding: 5px;
  border: #fff 1px solid;
  border-radius: 10px;
}

.sortby {
  display: flex;
  gap: 40px;
}

.formcadastrarfilme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containercadastrarfilme {
  display: flex;
  gap: 200px;
  align-items: center;
}

.containerinput {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.containerinput input,
.containerinput textarea {
  width: 300px;
}

.cadastrocapa input {
  font-size: 16px;
}

.cadastrocapa {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Rodapé */
footer {
  margin-top: 50px;
  width: 100%;
  gap: 35px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

footer a {
  font-weight: 700;
  font-size: 18px;
}

footer div {
  display: flex;
  gap: 50px;
}
